@font-face { font-family: Delicious; src: url("AvenirLTStd-Book.otf"); } 

/* ===============Navbar================= */
#menuToggle{
  display: block;
  position: relative;
  margin-top: 5px;
  margin-left: 43px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a{
  text-decoration: none;
  color: #000000;
}

#menuToggle a:hover{
  color: #FF6767;
}

#menuToggle > p {
  font-weight: 900;
}

#menu{
  position: absolute;
  width: calc(100vw - 97px);
  height: calc(100vh - 79px);
  margin: 11px 0 0 -43px;
  background: white;
  list-style-type: none;
}

.header {
  height: 79px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color:#FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 50px; */
}

.heading {
  height: 79px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  margin-left: 43px;
}

.logo {
  height: 18px;
  width: 92px;
  margin-left: 50%;
  cursor: pointer;

}

.contact-us-button {
  height: 35px;
  /* width: 95px; */
  margin-right: 45.5px;
  padding: 7px 11px;
  border: 0.8px solid #22282B;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-family:Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #22282B;
}

.contact-us-button{
  text-decoration: none;
  color: black;
}

.section {
  height: calc(100vh - 79px);
  background: #FFFFFF;
}

.contact-us-button:hover, .read-more-button:hover{
  background-color: #FF6767;
  color: white;
} 

/* ==================== menu ============================ */

.four-columns-grid{
  display: grid;
  grid-template-columns: 338fr 338fr 338fr 1fr 425fr;
  padding-left: 80px;
}

.four-columns-grid h1{
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 400;
}

.four-columns-grid p{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}

.menu-left {
  margin: auto 0;
}

.top-bar {
  margin-top: 0;
}

.bottom-bar{
  margin-top: 73.66px;
}

.menu-left p {
  height: 62.33px;
  width: 169px;
}

.vertical-line{
  height: 295.59px;
  border-left: 1.5px solid #22282B;
  margin: auto;
}

.menu-right {
  /* margin-top: 30.17px;
  margin-bottom: 48.58px; */
  margin: auto 0;
  text-align: center;
  padding-bottom: 75px;
}

.close-button {
  height: 25.67px;
  width: 25.67px;
  margin: 0 43.7px 8.71px auto;
  font-weight: 900;
}

.menu-right img{
  height: 26.44px;
  width: 121px;
}

.p-wrapper {
  height: 170px;
  display: flex;
}

.menu-right p {
  width: 145px;
  margin: auto;
  justify-content: center;
}

.menu-link i.fab{
  width: 42.71px;
  height: 35px;
  display: inline-block;
  background-color:#F3F3F3;
  border-radius: 50%;
  padding-top: 10px;
  margin-top: 15px;
}


/* ==========common in Top/About/Mission========== */

.grid-two-columns {
  display: grid;
  /* grid-template-columns: minmax(300px, 1fr); */
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

/* .products-wrapper{
  margin-top: 250px;
  /* margin-left: 200px; */
  /* margin-left: 50%; */
  /* margin-right: 200px; */
  /* display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap:50px;
  justify-content: center;
  align-items: center; */
/* }  */


/* =============Top page================ */

.home-title {
  width: 495px;
  height: 170px;
  left: 109px;
  top: 175px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #22282B;
  margin: 0px 0px 60px
}

.home-description {
  width: 520px;
  height: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #404040;
  margin: 0px 0px 60px
}

.get-started-button{
  padding: 7px 22px;
  width: 160px;
  height: 36px;
  background: #404040;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.get-started-button:hover{
  background: #FF6767;
  color: #22282B;
}

.home-image {
  width: 288px;
  height: 376px;
  filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
}

/* ====================About us======================== */

.about-image {
  width: 600px;
  height: 379px;
  border-radius: 8px;
}

.about-title{
  width: 287px;
  height: 60px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 140%;
  color: #22282B;
  margin: 0 0 60px;
}

.grid-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-content: center;
  align-content: center;
}

.grid-three-columns h2{
  width: 80px;
  height: 33px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 110%;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #404040;

  margin-top: 0px;
  margin-bottom: 7px;
}

.grid-three-columns p {
  /* width: 520px; */
  /* height: 151px; */
  left: 108px;
  top: 1313px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  /* display: flex;
  align-items: center; */
  color: #404040;
  margin-top: 0px;
  margin-bottom: 60px;
}

.about-description{
  width: 520px;
  height: 151px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #404040;
  margin: 0px 0px 60px;
}

.read-more-button {
  padding: 7px 22px;
  width: 155px;
  height: 38px;
  background: #FFFFFF;
  border: 0.8px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #22282B;
}

/* ====================Mission==================== */

.mission-title{
  width: 287px;
  height: 60px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #22282B;
  margin-top: 0px;
  margin-bottom: 60px;
}

.mission-description {
  width: 520px;
  height: 151px; 
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #404040;
  margin-top: 0px;
  margin-bottom: 60px;
}

/* =================Subscribe================= */

#subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-content{
  background-color: #FF6767;
  width: 930px;
  height: 475px;
  border-radius: 100%;
  margin:auto;
  text-align: center;
  /* box-shadow: 0px 10px 8px  rgba(0, 0, 0, 0.4); */
}

.subscribe-title{
  font-family: Avenir;
  font-style: normal; 
  font-weight: 800;
  font-size: 45px;
  line-height: 102.1%;
  color: #FFFFFF;
  margin-top: 83px;
  margin-bottom: 8px;
}

.subscribe-content-text{
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #FFFFFF;
}

.subscribe-content-text p {
  width: 344px;
  margin: 0px auto;
}

.i-am-a {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 102.1%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.subscribe-form {
  display: grid;
  justify-items: center;
}

.subscribe-name-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-content: center; 
  align-items: center;
  margin-top: 12px;
}

.subscribe-gallery-name-wrapper{
  width: 335px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-content: center; 
  align-items: center;
  margin-top: 12px;
}

.subscribe-email, .subscribe-gallery-name{
  grid-column-start: 1;
  grid-column-end: span 2;
}

.subscribe-form input{
  min-width: 160px;
  height: 36px;
  padding: 0px;
  border: 1px solid #FFFFFF;
  background-color: #FF6767;
  border-radius: 5px;
}

.subscribe-form input::placeholder{
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}

.subscribe-button{
  grid-column-start: 1;
  grid-column-end: span 2;
  height: 38px;
  font-size: 16px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}

.subscribe-button:hover{
  background-color: #22282B;
  border: 1px solid #22282B;
  color: #FFFFFF;
}
.subscribe-message{
  margin-top:5px;
  color:white;
}
/* .unsubscribe-instructions{
  margin-top:30px;
} */

/* ===============Contact Us Page================ */
.contact-us{
  margin-bottom: 150px;
}
.contact-content{
  width: 550px;
  height: 475px;
  margin:auto;
  text-align: center;
}

.contact-title{
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 140%;
  text-align:left;
  font-style: normal; 
  font-weight: 800;
  font-size: 45px;
  line-height: 102.1%;
  color: black;
  margin-top: 83px;
}
.contact-content>p{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-align:left;
  margin-bottom:50px;
  margin-top: -10px;
}

.contact-wrapper{
  width: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center; 
  align-items: center;
  margin: auto;
}

.contact-email{
  grid-column-start: 1;
  grid-column-end: span 2;
}

.contact-message{
  grid-column-start: 1;
  grid-column-end: span 2;
  height: 180px !important;
  margin-bottom: 30px;
}
.contact-form input{
  /* min-width: 300px; */
  height: 36px;
  border: 1px solid black;
  border-radius: 5px;
}

.contact-form input::placeholder{
  font-family:Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: black;
  text-align: center;
}

.contact-button{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  float:right;
  color:#FFFFFF;
  width: 150px;
  height: 38px;
  background-color: #404040;
  border: 1px solid #404040  ;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button:hover{
  background-color: white;
  border: 1px solid #22282B;
  color: black;
}

/* ===============Footer================ */

.footer{
  text-align: center;
  color:#FFFFFF;
  background-color: #22282B;
  height: 262px;
  margin-top: 200px;
  width:100%;
}

.footer-wrapper{
  max-width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.column-left {
  margin-left: 1vw;
}

.column-right{
  margin-right: 1vw;
}

.footer h2 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 110%;
  color: #FFFFFF;
  margin-top: 17px;
  margin-bottom: 15px;
}

.footer p{
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 0px;
}

.footer a{
  color: #22282B;
}

.link{
  width: 1139px;
  border-top: 1px solid #FFFFFF;
  margin: 42px auto 34px 150px;
}

i.fab, i.far{
  width: 42.71px;
  height: 35px;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 50%;
  padding-top: 10px;
  margin-top: 15px;
}

i.fab {
  margin-right: 33px;
}

.fab, .far{
  font-size: 22px;
}

.icon-footer:hover{
  color: #FF6767;
}

/* =============== Carousel ================ */
.carousel-container {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  margin-bottom:400px;
  margin-top: 58px;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  /* margin-left:15%; */
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}
.left-arrow, .right-arrow {
position: absolute;
z-index: 1;
top: 40%;
/* margin-top:15%; */
transform: translateY(-50%);
width: 48px;
height: 48px;
color:white;
border: none;
/* background-color: transparent; */
font-size: 40px;
/* border-radius: 24px; */
background-color: rgba(0, 0, 0, 0.26);
/* border: 1px solid #ddd; */
}
.section-artpiece>.carousel-container>.carousel-wrapper>button{
  top: 50%;
}
.left-arrow {
left: 20px;
}

.right-arrow {
right: 20px;
}

.carousel-content.show-2 > * {
width: 50%;
}

.carousel-content.show-3 > * {
width: calc(100% / 3);
}

.carousel-content.show-4 > * {
width: calc(100% / 4);
}

.carousel-artists-img{
  padding: 18px;
}
.carousel-artists-img>img{
  width: 100%;
  border-radius: 50%;
}
.carousel-artists-img>p{
  text-align: center;
  margin-top: 55px;
  font-size: 18px;
  font-family: 'Avenir';
  font-weight: 400px;
  color: #404040;
}
.carousel-artpiece-img{
  padding: 18px;

}
.carousel-artpiece-img>a>img{
  max-width: 100%;
  /* margin-right: 60px; */
}
.carousel-artpiece-img>img{
  max-width: 100%;
  /* margin-right: 60px; */
}


/* =============== Responsiveness ================ */
@media screen and (max-width: 1220px) {
  .header{
    margin-bottom:50px;
  }

  .grid-two-columns {
    grid-template-columns: minmax(300px, 1fr);
  }

  .section {
    margin-bottom: 180px;
  }
}

@media screen and (max-width: 600px) {
  .header{
    margin-bottom:50px;
  }
  .logo{
    margin-left: 5vw;
  }
  .home-description, .about-description, .mission-description{
    width:95vw;
  }
  .section {
    width:85vw;
    padding:15vw;
    margin-bottom:50px;
  }
  .subscribe-content{
    margin-top:-300px;
    margin-bottom:-150px;
    max-width:90vw;
  }
  .contact-us-button, .home-image2{
    display:none;
  }
  .section-mission {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mission-description-wrapper {
    order: 2;
  }
  .mission-image {
    order: 3;
    max-width: 90vw;
  }
  .about-image, .mission-image{
    width:90vw;
  }
  .footer{
    margin-top: -100px;
    min-width: 100vw;
  }
  
}